* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #efefef;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
}

/* Portrait layout (default) */
#app {
    /* TBD */
    /* TFG color palette: blue #006199 / green #45ba01 */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    #app {
        /* TBD */
    }
}

@media screen and (prefers-color-scheme: dark) {
    /* TBD */
}

/* BEGIN: Misc. custom styles */
.navbar-default {
    background-color: #fff;
}
.app-title {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
.app-title h1 {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 0 0 0 .25em;
    color: #555;
}
.subtitle {
    font-style: italic;
}
#sponsorLogoContainer {
    display: inline-block;
    margin-bottom: 4px;
    border-radius: 10px;
    background-color: #fff;
}
#sponsorLogoContainer img {
    width: 100px;
}
#adOpportunities {
    margin-bottom: 15px;
}
#disclaimer {
    font-style: italic;
}
label .label-hint {
    font-size: 72%;
    font-weight: normal;
}
/* END: Misc. custom styles */

/* BEGIN: Adapt from TWBS 4.x */
.form-control.form-control-plaintext {
    margin-bottom: 0; /* match inputs if this class comes on inputs with default margins */
    color: #555;
    background-color: transparent !important;/* force this to override `[disabled]` */
    border: solid transparent;
    border-width: 1px 0;
    box-shadow: none;/* override `[disabled]` */
    cursor: default;/* override `[disabled]` */
}
.form-group-lg .form-control.form-control-plaintext,
.form-control.form-control-plaintext.input-lg,
.form-group-sm .form-control.form-control-plaintext,
.form-control.form-control-plaintext.input-sm {
    padding-right: 0;
    padding-left: 0;
}
/* END: Adapt from TWBS 4.x */

/* BEGIN: Fix TWBS 3.x shortcomings */
.panel .form-group:last-child {
    margin-bottom: 0;
}
/* END: Fix TWBS 3.x shortcomings */

/* BEGIN: Extend/Tweak TWBS */
.form-control.form-control-plaintext.output-value-xl {
    font-size: 175%;
}
.form-control.form-control-plaintext.output-value-xxl {
    font-size: 250%;/* XXX Any larger and Webkit breaks */
}
/* + BEGIN: Position modal vertical middle */
@media only screen and (min-width: 768px) {
    .modal {
        text-align: center;
    }
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
}
/* Just... don't fade in from top */
.modal.fade .modal-dialog {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    /* -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0); */
    opacity: 1;
}
/* + END: Position modal vertical middle */
/* END: Extend/Tweak TWBS */

/* BEGIN: Extend bootstrap-social */
.btn-apple{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}.btn-apple:focus,.btn-apple.focus{color:#fff;background-color:#000;border-color:rgba(0,0,0,0.2)}
.btn-apple:hover{color:#fff;background-color:#000;border-color:rgba(0,0,0,0.2)}
.btn-apple:active,.btn-apple.active,.open>.dropdown-toggle.btn-apple{color:#fff;background-color:#000;border-color:rgba(0,0,0,0.2)}.btn-apple:active:hover,.btn-apple.active:hover,.open>.dropdown-toggle.btn-apple:hover,.btn-apple:active:focus,.btn-apple.active:focus,.open>.dropdown-toggle.btn-apple:focus,.btn-apple:active.focus,.btn-apple.active.focus,.open>.dropdown-toggle.btn-apple.focus{color:#fff;background-color:#191919;border-color:rgba(0,0,0,0.2)}
.btn-apple:active,.btn-apple.active,.open>.dropdown-toggle.btn-apple{background-image:none}
.btn-apple.disabled:hover,.btn-apple[disabled]:hover,fieldset[disabled] .btn-apple:hover,.btn-apple.disabled:focus,.btn-apple[disabled]:focus,fieldset[disabled] .btn-apple:focus,.btn-apple.disabled.focus,.btn-apple[disabled].focus,fieldset[disabled] .btn-apple.focus{background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.btn-apple .badge{color:#2b2b2b;background-color:#fff}
/* END: Extend bootstrap-social */

/* BEGIN: Utility classes */
.m-0 {
    margin: 0;
}
.mb-0 { margin-bottom: 0; }
.mt-0 { margin-top: 0; }
.mx-0 { margin-left: 0; margin-right: 0; }
.my-0 { margin-top: 0; margin-bottom: 0; }
.mr-5 { margin-right: 5px; }
.cursor-hand { cursor: pointer; }
/* END: Utility classes */